<p>Wellcom {{ name }},</p>
<p>This is email to Confirm</p>
<p>Your Code</p>
<h2 style="width: 100%; margin:0 auto; text-aligen:center">{{code}}</h2>
<p>
  <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>